<?xml version="1.0"?>
<collection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemResources">
  <resources>
    <resource name="EnterUserName">
      <contents>
        <content locale="zh-cn">
          <data>请输入用户名</data>
        </content>
        <content locale="en-us">
          <data>please enter user name</data>
        </content>
      </contents>
    </resource>
    <resource name="EnterPassword">
      <contents>
        <content locale="zh-cn">
          <data>请输入密码</data>
        </content>
        <content locale="en-us">
          <data>please enter passwod</data>
        </content>
      </contents>
    </resource>
    <resource name="InvalidName">
      <contents>
        <content locale="zh-cn">
          <data>用户名只能包含字母数字和小数点</data>
        </content>
        <content locale="en-us">
          <data>user name should contain letter, number and dot only</data>
        </content>
      </contents>
    </resource>
  </resources>
</collection>